@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gotham-pro/gotham-pro-regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/gotham-pro/gotham-pro-bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana/verdana.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}