.input-shell {
  position: relative;

  .parsley-errors-list {
    position: absolute;
    bottom: rem(-20);
    left: 0;
    color: $color-error;
    @include text-small;
  }
}

.input {
  $root:&;

  @include text-default;

  display: block;
  width: 100%;
  padding: 0 rem(24);
  color: $color-black;
  height: rem(65);
  border: 2px solid $color-grey-light;
  background: transparent;
  @include defaultTransition(border-color);

  &::placeholder {
    opacity: 1;
    @include text-small;
    color: $color-grey;
  }


  &:focus, &:hover {
    border-color: $color-blue;
    outline: none;
  }

  &--light {
    background-color: $color-white;
    border-color: transparent;

    &:focus, &:hover {
      border-color: $color-light-blue;
    }
  }


  &:disabled {
    border-color: rgba($color-grey, 0.5);

    &::placeholder {
      color: rgba($color-grey, 0.5);
    }
  }

  &.parsley-error {
    border-color: $color-error;
  }

  &.parsley-success, &.not-empty:not(.parsley-error) {
    background-size: rem(16);
    background-image: $icon-success-blue;
    background-repeat: no-repeat;
    background-position: calc(100% - #{rem(20)}) 50%;
  }

  &--has-error {
    border-color: $color-error !important;
  }
}