{% extends "layouts::_page.twig" %}

{% block content %}

    {#   todo  1) посмотреть плагины в package.json 2) меню 3) слайдеры блоки #}
    {% view '&main-hero' with {
        hero: hero
    } %}

    <div class="mb-md-112 mb-64">
        {% view "&slider-card" with {
            slider:sliderCard
        } %}
    </div>

    <div class="mb-md-112 mb-64">
        {% view "&factors-block" with {
            block:factorsBlock
        } %}
    </div>

    <div class="mb-md-112 mb-64">
        {% view '&request-block' with {
            block: requestBlock
        } %}
    </div>
{% endblock %}
